<div *ngIf="tasks.length > 0">
    <h1>
        <span>{{tasks.length}}</span> Tasks that should be completed today
    </h1>
    <ul>
        <li *ngFor="let u of users">
            <button type="button" [class.selected]="u==selectedUser" (click)="userSelect(u)">{{u.name}}</button>
        </li>
    </ul>
    <div class="taskCard" *ngIf="selectedUser && selectedTask">
        <span class="title">
            {{selectedTask.name}}
        </span>
        <div class="descriptionContainer">
            {{selectedTask.description}}
        </div>
        <div class="buttonContainer">
            <button (click)="complete()">Complete</button>
        </div>
    </div>
</div>
<h1 *ngIf="tasks.length == 0">
    there are no more tasks for today
</h1>